@import '~bootstrap/scss/bootstrap';

header {
  height: 125px;
  display: block;
  background-image: url('./public/15background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% center;
}

body {
  color: #797166;
  background: #f5f3f0;
}

.header-logo {
  max-width: 29.125em;
  padding: 36px 16px 24px;
  display: block;
  margin: 0 auto;
}

a {
  transition: color 0.32s ease;
  color: #c56c76;
  text-decoration: underline;
}

a:hover {
  color: #d9818b;
}

footer {
  background: #51525a;
  color: #ccccd1;
  font-size: 0.875em;
  display: block;
}

.footer-logo {
  display: block;
  width: 120px;
  background: none;
  margin: auto;
  margin-bottom: 48px;
}

.footer-text {
  margin: 0px 30px;
}

h1 {
  color: #5c626a;
  font-size: 2rem;
}

h2 {
  color: #5c626a;
  font-size: 1.5rem;
}

h3 {
  color: #5c626a;
  font-size: 1.2rem;
}

.headshot {
  width: 100%;
  height: auto;
  text-align: center;
}

.speaker-blurb {
  padding: 0 5em 0 5em;
}

.speaker-info {
  margin-top: .5em
}

.speaker-intro {
  display: flex;
}

.speaker-website {
  color: #c56c76;
  font-size: .75em;
  font-weight: bold;
}

.speaker-photo {
  width: 200px;
  height: 200px;
}

.join-email-list {
  background: #51525a;
  color: #ccccd1;
  box-shadow: 4px 4px 2px #ddd;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 0 15px 0;
  & p {
      margin: 0;
  }
}

.aycl {
  margin: 20px auto 0
}

.aycl-button {
  color: #f5f3f0;
  background: #c56c76;
  text-align: center;
  border: none;
  border-radius: .25em;
  margin: 10px;
}

.aycl-button:hover {
  background: #c56c76;
}

.page-content {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 61em;
  width: 100%;
  box-sizing: border-box;
}

.chunk {
  margin-bottom: 1.5em;
}

.footer-info {
  box-sizing: border-box;
  margin: 10px 10px 10px 0;
  padding: 0 25px;
}

.call-to-action {
  display: block;
  line-height: 2;
  background-color: #97b9c1;
  color: #3e3934;
  text-align: center;
  padding: 1% 0;
  font-weight: bold;
  font-size: 1.2em;
}

.call-to-action2 {
  background: #f5f3f0;
}

.center {
  text-align:center;
}

.border-holder {
  border-color: black;
  border-style: solid;
}

.speaker-box {
  padding: 0 0 0 5%;
}

.wrap-text {
  word-wrap: break-word
}

.justify-content {
  justify-content: center;
}
